In [ ]:
#1
a=10
b=20
c=-5
a,b,a=a-a+c,b-c,b+c
print(a,b,c)

15 25 -5

In [ ]:
#2
s='ComputerScience'
print(s[2]+s[-4]+s[1:-7])

meomputer

In [ ]:
#3
import random
VAL=[10,20,30,40,50,60,70,80]
START=random.randint(1,3)
STOP=random.randint(START,4)
for x in range(START,STOP+1):
  print(VAL[x],end="#")

30#

In [ ]:
#4
def changeList(X,Y):
    X[0]=25
    Y=[2,3]
L1=[-11,21]
L2=[14,23]
changeList(L1,L2)
print(L1[0],"#",L2[0])

25 # 14

In [ ]:
#5
l1=[10,20,30,40,50]
START=1
s=0
for c in range(START,4):
  s=s+l1[c]
  print(c,":")
s=s+l1[0]*10
print(s)

1 :
2 :
3 :
190

In [ ]:
#6
my_str="SIMPLE QUESTIONS"
print(my_str.count('E',2,12))
print(my_str.count('PL',2,12))

2
1

In [ ]:
#7
D={'A':'ARUN','GRADE':'A'}
print(list(D.values()))

['ARUN', 'A']

In [ ]:
#8
x=25
def modify(s,c=2):
  global x
  for a in s:
    if a in 'QWEiop':
      x//=5
      print(a.upper(),'@',c*x)
    else:
      x+=5
      print(a.lower(),'#',c+x)

strA="Sara"
modify(strA,10)
print(x,'$',strA)
strB="WE"
modify(strB)
print(x,'$',strB)

s # 40
a # 45
r # 50
a # 55
45 $ Sara
W @ 18
E @ 2
1 $ WE

In [ ]:
#9
print(5-2**2**2+99//11)

-2

In [ ]:
#10
for i in "BVRIT Hyderabad":
  print(i.lower(),end="#")

b#v#r#i#t# #h#y#d#e#r#a#b#a#d#

In [ ]:
#11
import random
A=[20,30,40,50,60,70]
FROM=random.randint(1,3)
TO=random.randint(2,4)
for k in range(FROM,TO):
  print(A[k],end="#")

In [ ]:
#12
import math
import random
print(str(int(math.pow(random.randint(2,4),2))))
print(str(int(math.pow(random.randint(2,4),2))))
print(str(int(math.pow(random.randint(2,4),2))))

4
4
9

In [ ]:
#13
import random as r
print(10+r.randint(10,15),end=" ")

23

In [ ]:

#14
import random as r
print(100+r.randint(15,25),end=" ")
print(100-r.randint(15,25),end=" ")
print(100*r.randint(15,25),end=" ")

115 84 1500